.favorite-color {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 10px;

	&__title {
		display: inline-block;
		width: 100%;
		margin-bottom: 15px;
		text-align: center;
		font-size: 18px;
		line-height: 1.2;
	}
}
